@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.underline-animation {
		position: relative;
	}

	.underline-animation::after {
		position: absolute;
		content: "";
		background: #11e2ff;
		bottom: 0;
		right: 0;
		height: 2px;
		width: 0%;
		transition: 300ms ease-in-out;
	}

	.underline-animation:hover::after {
		width: 100%;
		left: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
